<section class="testimonial-section" style="background: url(images/testimonials/1.jpg);">
    <div class="container">
        <div class="section-title text-center">
            <h3>Here is what the 
                <span>Donee Says</span>
            </h3>
        </div>
        <div class="testimonial-carousel slick-initialized slick-slider slick-dotted">
            <!--Slide Item-->
            
            <!--Slide Item-->
            
            <!--Slide Item-->
            
            <!--Slide Item-->
            
            <!--Slide Item-->
            
            <!--Slide Item-->
            
            <!--Slide Item-->
            
            <!--Slide Item-->
            
            <!--Slide Item-->
            
        <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 7200px; transform: translate3d(-2880px, 0px, 0px);"><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" data-slick-index="-2" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>Thank you the smart brains. iam now debt free and looking forward to do the same for others.</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" aria-describedby="slick-slide-control24" data-slick-index="-1" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/3.png" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>Even NSFAS couldnt pay my debt. I am grateful to you team.</p>
                </div>
            </div><div class="slide-item slick-slide" style="width: 360px;" tabindex="-1" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20" data-slick-index="0" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/1.png" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>Thank you for paying my tuition. I now have my diploma certificate.</p>
                </div>
            </div><div class="slide-item slick-slide" style="width: 360px;" tabindex="-1" role="tabpanel" id="slick-slide21" data-slick-index="1" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>You geeks are the best and the whole world must know.</p>
                </div>
            </div><div class="slide-item slick-slide" style="width: 360px;" tabindex="-1" role="tabpanel" id="slick-slide22" aria-describedby="slick-slide-control21" data-slick-index="2" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/3.png" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>I had lost hope but you restored it. Thank you so much for this opportunity. </p>
                </div>
            </div><div class="slide-item slick-slide" style="width: 360px;" tabindex="-1" role="tabpanel" id="slick-slide23" data-slick-index="3" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/1.png" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>Thank You!</p>
                </div>
            </div><div class="slide-item slick-slide" style="width: 360px;" tabindex="-1" role="tabpanel" id="slick-slide24" aria-describedby="slick-slide-control22" data-slick-index="4" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>I feel like screaming from the joy. Team geeks thank you for this app.</p>
                </div>
            </div><div class="slide-item slick-slide" style="width: 360px;" tabindex="-1" role="tabpanel" id="slick-slide25" data-slick-index="5" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/3.png" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>You are the best!</p>
                </div>
            </div><div class="slide-item slick-slide slick-current slick-active" style="width: 360px;" tabindex="0" role="tabpanel" id="slick-slide26" aria-describedby="slick-slide-control23" data-slick-index="6" aria-hidden="false">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/1.png" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>Look who has obtained her btech! thank you to the donor for paying for me.</p>
                </div>
            </div><div class="slide-item slick-slide slick-active" style="width: 360px;" tabindex="0" role="tabpanel" id="slick-slide27" data-slick-index="7" aria-hidden="false">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>You derserve to run for presidency.</p>
                </div>
            </div><div class="slide-item slick-slide" style="width: 360px;" tabindex="-1" role="tabpanel" id="slick-slide28" aria-describedby="slick-slide-control24" data-slick-index="8" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/3.png" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>Thank you,Thank you for settling my tuition balance.</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" aria-describedby="slick-slide-control20" data-slick-index="9" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/1.png" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>Thank you! I will now be able to support my family.</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" data-slick-index="10" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" aria-describedby="slick-slide-control21" data-slick-index="11" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/3.png" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>Viva! you are the best!</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" data-slick-index="12" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/1.png" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>Ngiyabonga!</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" aria-describedby="slick-slide-control22" data-slick-index="13" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>You are true leaders! i will also donate to others.</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" data-slick-index="14" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/3.png" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>Thank you to my donor</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" aria-describedby="slick-slide-control23" data-slick-index="15" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/1.png" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>i have just been called for a job interview. Thank you for making sure i receive my diploma.</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" data-slick-index="16" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>You are leadership!</p>
                </div>
            </div><div class="slide-item slick-slide slick-cloned" style="width: 360px;" tabindex="-1" role="tabpanel" aria-describedby="slick-slide-control24" data-slick-index="17" aria-hidden="true">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="images/testimonials/3.png" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>The only leaders i recognize. Ta!</p>
                </div>
            </div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control20" aria-controls="slick-slide20" aria-label="1 of 5" tabindex="-1">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control21" aria-controls="slick-slide22" aria-label="2 of 5" tabindex="-1">2</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control22" aria-controls="slick-slide24" aria-label="3 of 5" tabindex="-1">3</button></li><li role="presentation" class="slick-active"><button type="button" role="tab" id="slick-slide-control23" aria-controls="slick-slide26" aria-label="4 of 5" tabindex="-1">4</button></li><li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control24" aria-controls="slick-slide28" aria-label="5 of 5" tabindex="-1">5</button></li></ul></div>
    </div>
</section>
