<div  class="container">
    <div>

    </div>
    <div class="col-md-4">
        <div class="causes">
            <div class="causes-img">
                <a>
                        <img src="assets/img/galery-3.jpg" alt="">
                    </a>
            </div>
            <div class="causes-progress">
                <div class="causes-progress-bar">
                    <div style="width: 87%;">
                        <span>87%</span>
                    </div>
                </div>
                <div>
                    <span class="causes-raised">Raised: <strong>52.000$</strong></span>
                    <span class="causes-goal">Goal: <strong>90.000$</strong></span>
                </div>
            </div>
            <div class="causes-content">
                <h3><a href="single-cause.html">Possit nostro aeterno eu vis, ut cum quem reque</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="single-cause.html" class="primary-button causes-donate">Donate Now</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-4">
            <div class="causes">
                <div class="causes-img">
                    <a>
                            <img src="assets/img/galery-3.jpg" alt="">
                        </a>
                </div>
                <div class="causes-progress">
                    <div class="causes-progress-bar">
                        <div style="width: 87%;">
                            <span>87%</span>
                        </div>
                    </div>
                    <div>
                        <span class="causes-raised">Raised: <strong>52.000$</strong></span>
                        <span class="causes-goal">Goal: <strong>90.000$</strong></span>
                    </div>
                </div>
                <div class="causes-content">
                    <h3><a href="single-cause.html">Possit nostro aeterno eu vis, ut cum quem reque</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="single-cause.html" class="primary-button causes-donate">Donate Now</a>
                </div>
            </div>
        </div>
       
          
    