<section class="ftco-gallery">
    <div class="d-md-flex">
        <a class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(images/cause-2.jpg);" href="images/cause-2.jpg">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(images/cause-3.jpg);" href="images/cause-3.jpg">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(images/cause-4.jpg);" href="images/cause-4.jpg">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(assets/img/cause-5.jpg);" href="images/cause-5.jpg">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
    <div class="d-md-flex">
        <a class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url();" href="assets/img/cause-6.jpg">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(assets/img/image_3.jpg);" href="assets/img/image_3.jpg">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(assets/img/image_1.jpg);" href="assets/img/image_1.jpg">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(assets/img/image_2.jpg);" href="assets/img/image_2.jpg">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
    <!-- <div class="d-md-flex">
        <a href="assets/img/cause-6" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(assets/img/cause-6);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="assets/img/image_3" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(assets/img/image_3;">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="assets/img/image_1.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(assets/img/image_1.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="assets/img/image_2.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate fadeInUp ftco-animated" style="background-image: url(assets/img/image_2.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div> -->
</section>



